	<title><%= title %></title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">		

	<!-- Template CSS -->
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!-- Google Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
		<script src="/javascripts/html5shiv.js"></script>
		<script src="/javascripts/respond.js"></script>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->