	<header id="header">

		<div class="menu-collapsed">
			<div class="bar"></div>
			<nav>
			  <ul>
						<li><a href="/">Home</a></li>
						<li><a href="about">About</a></li>
						<li><a href="skills">Skills</a></li>
						<li><a href="portfolio">Portfolio</a></li>
						<li><a href="contact">Get in Touch</a></li>
			  </ul>
			</nav> 
		</div>

	</header>