<!DOCTYPE html>
<html>
  <head>
  <% include partials/head.ejs %>
  </head>
  <body>

    <!-- Start Header -->
    <% include partials/header.ejs %>

    <!-- Start Page Header -->
    <% include partials/page-header.ejs %>

    <section id="contact" class="section">
      <div class="container">

        <div class="row">
          <div class="col-md-8">
            <!-- Start Contact Form  -->
            <form class="contact-form" action="post">
              <input name="name" id="name" type="text" placeholder="Name">
              <input name="mail" id="mail" type="text" placeholder="Your e-mail">
              <input name="website" id="website" type="text" placeholder="Website">
              <textarea name="comment" id="comment" placeholder="Message"></textarea>
              <button type="submit" name="contact-submit" id="submit_contact">Submit</button>
            </form>
            <!-- End Contact Form  -->
          </div>
          <div class="col-md-4">
            <div class="contact-info">
              <h4>Where to find us</h4>
              <p>Nam leo lorem, tincidunt id risus ut, ornare tincidunt naqunc.</p>
              <!-- Start Contact Details  -->
              <ul class="contact-list">
                <li><i class="fa fa-map-marker"></i>Somewhere Somewhere, Mauritius</li>
                <li><i class="fa fa-phone"></i>+ 230 5 8268494</li>
                <li><i class="fa fa-envelope-o"></i><a href="mailto:contact@simplesphere.net.com">contact@simplesphere.net</a></li>
              </ul>
              <!-- End Contact Details  -->
            </div>
            <hr>
            <div class="social">
              <h4>Socialize!</h4>
              <!-- Start  Social Links -->
              <ul class="social">
                <li class="facebook"> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                <li class="twitter"> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                <li class="google-plus"> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                <li class="linkedin"> <a href="#"> <i class="fa fa-linkedin"></i> </a> </li>
                <li class="youtube"> <a href="#"> <i class="fa fa-youtube-play"></i> </a> </li>
              </ul>
              <!-- End Social Links  -->
            </div>        
          </div>
        </div>
      </div>
    </section>

    <!-- Start Footer -->
    <% include partials/footer.ejs %>

    <!-- Javascript Files -->
    <% include partials/jsdefaults.ejs %>
  </body>
</html>
