<!DOCTYPE html>
<html>
  <head>
  <% include partials/head.ejs %>
  </head>
  <body>

    <!-- Start Header -->
    <% include partials/header.ejs %>

    <!-- Start Page Header -->
    <% include partials/page-header.ejs %>

    <main id="main-content" class="padding60">
      <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3">
          <!-- Start Portfolio Item -->
          <div class="hover-details">
            <img class="img-responsive img-thumbnail" src="images/1.jpg" alt="" title=""><!-- Image Thumbnail  -->
            <div class="img-cover">
              <a href="images/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="fa fa-search fa-fw"></i></a><!-- Large Image  -->
              <h3>Item Description</h3><!-- Image Description  -->
            </div>
          </div>
          <!-- End Portfolio Item  -->
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
          <!-- Start Portfolio Item -->
          <div class="hover-details">
            <img class="img-responsive img-thumbnail" src="images/2.jpg" alt="" title=""><!-- Image Thumbnail  -->
            <div class="img-cover">
              <a href="images/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="fa fa-search fa-fw"></i></a><!-- Large Image  -->
              <h3>Item Description</h3><!-- Image Description  -->
            </div>
          </div>
          <!-- End Portfolio Item  -->
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
          <!-- Start Portfolio Item -->
          <div class="hover-details">
            <img class="img-responsive img-thumbnail" src="images/3.jpg" alt="" title=""><!-- Image Thumbnail  -->
            <div class="img-cover">
              <a href="images/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="fa fa-search fa-fw"></i></a><!-- Large Image  -->
              <h3>Item Description</h3><!-- Image Description  -->
            </div>
          </div>
          <!-- End Portfolio Item  -->
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
          <!-- Start Portfolio Item -->
          <div class="hover-details">
            <img class="img-responsive img-thumbnail" src="images/4.jpg" alt="" title=""><!-- Image Thumbnail  -->
            <div class="img-cover">
              <a href="images/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="fa fa-search fa-fw"></i></a><!-- Large Image  -->
              <h3>Item Description</h3><!-- Image Description  -->
            </div>
          </div>
          <!-- End Portfolio Item  -->
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3">
          <!-- Start Portfolio Item -->
          <div class="hover-details">
            <img class="img-responsive img-thumbnail" src="images/5.jpg" alt="" title=""><!-- Image Thumbnail  -->
            <div class="img-cover">
              <a href="images/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="fa fa-search fa-fw"></i></a><!-- Large Image  -->
              <h3>Item Description</h3><!-- Image Description  -->
            </div>
          </div>
          <!-- End Portfolio Item  -->
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
          <!-- Start Portfolio Item -->
          <div class="hover-details">
            <img class="img-responsive img-thumbnail" src="images/6.jpg" alt="" title=""><!-- Image Thumbnail  -->
            <div class="img-cover">
              <a href="images/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="fa fa-search fa-fw"></i></a><!-- Large Image  -->
              <h3>Item Description</h3><!-- Image Description  -->
            </div>
          </div>
          <!-- End Portfolio Item  -->
        </div>
      </div>
      </div>
    </main>

    <!-- Start Footer -->
    <% include partials/footer.ejs %>

    <!-- Javascript Files -->
    <% include partials/jsdefaults.ejs %>
  </body>
</html>
