<!DOCTYPE html>
<html>
  <head>
  <% include partials/head.ejs %>
  </head>
  <body>

    <!-- Start Header -->
    <% include partials/header.ejs %>

    <!-- Start Page Header -->
    <% include partials/page-header.ejs %>

    <main id="main-content" class="padding60">
      <div class="container">

<div class="row">
        <div class="col-lg-7">
          <!-- Start Services Row #1  -->
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <!-- Start Service Details  -->
              <div class="services-list">
                <i class="fa fa-asterisk fa-5x"></i><!-- Service Icon  -->
                <h4>Responsive</h4><!-- Service Title  -->
                <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam.</p><!-- Service Description  -->
              </div>
              <!-- End Service Details  -->
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="services-list">
                <i class="fa fa-cog fa-5x"></i>
                <h4>User Friendly</h4>
                <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam.</p>
              </div>
            </div>
          </div>
          <!-- End Services Row #1  -->
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="services-list">
                <i class="fa fa-leaf fa-5x"></i>
                <h4>HTML5</h4>
                <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="services-list">
                <i class="fa fa-star fa-5x"></i>
                <h4>Bootstrap 3.0</h4>
                <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="services-list">
                <i class="fa fa-subscript fa-5x"></i>
                <h4>w3c Compliant</h4>
                <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="services-list">
                <i class="fa fa-undo fa-5x"></i>
                <h4>Minimal</h4>
                <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam.</p>
              </div>
            </div>
          </div>  
        </div>
        <div class="col-lg-5 text-center">
          <img src="images/responsive2.png" alt="" class="img-responsive" title="">
        </div>
      </div>

      </div>
    </main>

    <!-- Start Footer -->
    <% include partials/footer.ejs %>

    <!-- Javascript Files -->
    <% include partials/jsdefaults.ejs %>
  </body>
</html>
